doctype html
html
    head
        title Neshaani URL Shortener
        meta(charset='utf-8')
        meta(name='description', content='Neshaani URL Shorneter')
        meta(name='keywords', content='free,opensource,url,shortener')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="css/main.css")
        link(rel="shortcut icon", href="img/favicon.ico")
        link(rel="icon", href="img/favicon.ico")

    body
        .content
            a#logoBtn(href="#")
                img.logo(src="./img/logo.svg", alt="Logo")
            input.query(type="text", placeholder="Enter URL", autofocus)
            input.result(type="text", placeholder="")
        .links
            a(href="https://api.neshaani.com/", title="API")
                img.link-icon(src="./img/api.svg", alt="API")
            a(href="https://github.com/neshaani", title="Github")
                img.link-icon(src="./img/github.svg", alt="Github")
            a(href="https://twitter.com/neshaaniapp", title="Twitter")
                img.link-icon(src="./img/twitter.svg", alt="Twitter")
        .badge
            img.neshaani-badge(src="./img/badge.svg", alt="Badge")

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="js/main.js")
        script.
            var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', 'UA-81248755-1']);
                    _gaq.push(['_trackPageview']);

                    (function () {
                        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                    })();
